{% extends 'base.html.twig' %}

{% block title %}Montre{% endblock %}

{% block body %}
    <h1>Montre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ montre.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ montre.description }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ montre.marque }}</td>
            </tr>
            <tr>
                <th>Référence</th>
                <td>{{ montre.reference }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ montre.annee }}</td>
            </tr>
        </tbody>
    </table>

    {# Bloc actions propre avec des boutons Bootstrap #}
    <div class="mt-3 d-flex flex-wrap gap-2">
        <a class="btn btn-outline-secondary"
           href="{{ path('coffre_show', { id: montre.coffre.id }) }}">
            ← Retour au coffre
        </a>

        <a class="btn btn-primary"
           href="{{ path('app_montre_edit', {'id': montre.id}) }}">
            Modifier cette montre
        </a>

        {{ include('montre/_delete_form.html.twig') }}
    </div>
{% endblock %}
