{% extends 'base.html.twig' %}

{% block title %}Montre{% endblock %}

{% block body %}
    <h1>Montre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ montre.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ montre.description }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ montre.marque }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ montre.reference }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ montre.annee }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('coffre_show', { id: montre.coffre.id }) }}"> Retour au coffre </a>

    <a href="{{ path('app_montre_edit', {'id': montre.id}) }}">edit</a>

    {{ include('montre/_delete_form.html.twig') }}
{% endblock %}
